# Rust often needs a bit of an extra main task stack size compared to C (the default is 3K)
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8000

# Use this to set FreeRTOS kernel tick frequency to 1000 Hz (100 Hz by default).
# This allows to use 1 ms granuality for thread sleeps (10 ms by default).
CONFIG_FREERTOS_HZ=1000

# Workaround for https://github.com/espressif/esp-idf/issues/7631
#CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=n
#CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=n

CONFIG_IDF_TARGET="esp32s3"

# 8MB of OPI PSRAM:
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y

# Only for the Arduino Nano ESP32!
# 32kHZ crystal is used for RTC:
#CONFIG_RTC_CLK_SRC_EXT_CRYS=y

# Console goes over USB Serial/JTAG peripheral:
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y

# Print registers and halt
CONFIG_ESP_SYSTEM_PANIC=1
CONFIG_ESP_SYSTEM_PANIC_REBOOT_DELAY_SECONDS=0
CONFIG_ESP_SYSTEM_PANIC_SILENT_REBOOT=y

# Disable the Watchdog in the bootloader
CONFIG_BOOTLOADER_WDT_ENABLE=n

# Set CPU frequency to 240MHz
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240

# Disable logging in the bootloader
CONFIG_BOOTLOADER_LOG_LEVEL_NONE=y
CONFIG_BOOTLOADER_LOG_LEVEL=0

# Disable logging inside HAL components
CONFIG_HAL_LOG_LEVEL_NONE=y
CONFIG_HAL_LOG_LEVEL=0

# Disable generic logging
CONFIG_LOG_DEFAULT_LEVEL_NONE=y
CONFIG_LOG_DEFAULT_LEVEL=0

# Exclude metadata injected by the ESP-IDF
CONFIG_APP_EXCLUDE_PROJECT_VER_VAR=n
CONFIG_APP_EXCLUDE_PROJECT_NAME_VAR=y
CONFIG_APP_COMPILE_TIME_DATE=n

# Disable brownout detection
CONFIG_ESP_BROWNOUT_DET=y
CONFIG_ESP_BROWNOUT_DET_LVL_SEL_3=y

# This may improve loading times from flash
# https://docs.espressif.com/projects/esp-idf/en/stable/esp32/api-guides/performance/speed.html
CONFIG_ESPTOOLPY_FLASHFREQ=80
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y

# Enable performance optimizations
CONFIG_COMPILER_OPTIMIZATION_PERF=y

# Disable assertions
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_DISABLE=y

# Enable support for SO_LINGER option.
CONFIG_LWIP_SO_LINGER=y

# Try to restore last DHCP IP
CONFIG_LWIP_DHCP_RESTORE_LAST_IP=y